@font-face {
  font-family: 'Pretendard';
  src: url('/public/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('/public/fonts/Pretendard-Medium.woff') format('woff'),
    url('/public/fonts/Pretendard-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/public/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('/public/fonts/Pretendard-Bold.woff') format('woff'),
    url('/public/fonts/Pretendard-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'www';
  src: url('/public/fonts/www.woff2') format('woff2'), url('/public/fonts/www.woff') format('woff'),
    url('/public/fonts/www.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  min-width: 820px;
  max-width: 1980px;
}
